/* Reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

/* Body */
body{
    background:#0f172a;
    color:#fff;
}

/* Navbar */
nav{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background:#111827;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 40px;
    z-index:1000;
}

.logo{
    font-size:24px;
    font-weight:bold;
    color:#38bdf8;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:20px;
}

nav ul li a{
    color:#fff;
    text-decoration:none;
    transition:.3s;
}

nav ul li a:hover{
    color:#38bdf8;
}

/* Hero */
.hero{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
}

.hero h1{
    font-size:56px;
    margin-bottom:15px;
}

.hero p{
    font-size:22px;
    color:#cbd5e1;
    margin-bottom:30px;
}

button{
    background:#2563eb;
    color:#fff;
    border:none;
    padding:14px 30px;
    border-radius:8px;
    font-size:18px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#1d4ed8;
}
